*{
    margin: 0;
    padding: 0;  
}


body{
    font-family: Roboto;    
}

header{    
    min-width: 100%;
    height: 50px; 
    display: flex;   
}

.backbotton{
    border: 1px solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 25px;
    margin-top: 20px;    
}

.logo-img3{
    width: 150px;
    height: 30px;    
   padding-top: 10px;
   margin-left: 80px;
}


main{     
    min-width: 100%;
}

.menu3-img{
    height: 250px;
    min-width: 100%; 
    background-size: cover;
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;  
    display: flex;
}

.full-menu3{   
    background-color: #fff9f9; 
    min-height: 100%;
    min-width: 100%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -50px;
   
}


.fullpalette{    
    min-width: 100%;
    font-family:  Shrikhand;
    padding-top: 20px;
    font-size: 20px;
}

.fullpalette-box{
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 20px;
     
}
.fullpalette i{
    margin-left: 100px;    
    padding-top: 10px;
}
.heart3{   
    font-size: 50px;           
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-left: 110px;
    cursor: pointer;
}
.heart3 i{
        margin-left: 80px;                       
        font-size: 50px;
        transition: 3s linear;
        border-color: black;
        color: transparent;  
                                    
       }  
    

.heart3,
.heart3::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
    
}
.heart3 {
    box-sizing: border-box;
    position: relative;
    transform:
        translate(
            calc(-10px / 2 * var(--ggs,1)),
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.heart3::after,
.heart3::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.heart3::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
    
}
.heart3::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}

.heart3:hover{ 
background-image: linear-gradient(var(--secondary-color-light) 20%, var(--primary-color-light) 80%);
transition: 3s linear; 
}
.heart3:hover::after { 
background-image: linear-gradient(var(--secondary-color-light) 20%, var(--primary-color-light) 80%);
transition: 3s linear; 
}

.heart3:hover::before{ 
background-image: linear-gradient(var(--secondary-color-light) 20%, var(--primary-color-light) 80%);
transition: 3s linear; 

}



.buttons3{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 20px;
    margin: 20px;
    width: 340px;
    cursor: pointer;
    
}
.escargot{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.2s;
}
.escargot span{
        margin-right: 110px;
        
    }    

 
.escargot:active, .escargot:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.escargot:hover  span{
    margin-right: 60px;
    
}    
.buttons3:hover .tick-mark{
    animation: 2s ro 1;
}
.duck-foie{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;    
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.3s;
}
.duck-foie span{
        margin-right: 87px;
        
    }    

 
.duck-foie:active, .duck-foie:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.duck-foie:hover  span{
    margin-right: 40px;
    
}   


.fried{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.4s;
   }
.fried span{
        margin-right: 262px;
        
    }    

 
.fried:active, .fried:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.fried:hover span{
    margin-right: 210px;
    
}   


.herb{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.5s;
   }
.herb span{
        margin-right: 2px;
        font-size: 15px;
    }    

 
.herb:active, .herb:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.herb:hover span{
    margin-right: 2px;
    font-size: 12px;
  
}

.ox{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.6s;
}
.ox span{
        margin-right: 7px;
        
    }    

 
.ox:active, .ox:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.ox:hover  span{
    margin-right: 5px;
    font-size: 13px;
}  



.filet{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.7s;
   }
.filet span{
        margin-right: 136px;        
    }    

 
.filet:active, .filet:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.filet:hover span{
    margin-right: 90px;        
}   


.paris{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;    
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.8s;
   }
.paris span{
        margin-right: 213px;        
    }    

 
.paris:active, .paris:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.paris:hover span{
    margin-right: 170px;        
}    


.macaroons{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;    
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.9s;
}
.macaroons span{
        margin-right: 117px;        
    }    

 
.macaroons:active, .macaroons:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.macaroons:hover  span{
    margin-right: 72px;        
}   


.mousse{
    position: absolute;
    padding: 10px 10px 15px 10px;
    border-radius: 20px;
    width: 320px;
    height: 40px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px #f1f0f0;     
    display: flex;
    flex-wrap: wrap;
    animation-name: fade-in;
    animation-duration: 1s; 
    animation-delay: 0.1s;
}
.mousse span{
        margin-right: 75px;       
    }    

 
.mousse:active, .mousse:hover{
    width: 260px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -1px 3px 3px 3px #e7e4e4; 
}
.mousse:hover  span{
    margin-right: 30px;       
}   



footer{    
    padding-left: 25px; 
    
}
.logo2 h4{
    font-family:  Shrikhand;
    margin-top: 20px;
    font-size: 20px;
}

.contact{       
    background-color:rgb(61, 60, 60);
    color: white;
    display: flex;
    height: 200px; 
}


.suggest{
    padding-top: 20px;
    
}
.suggest i{
    padding-right: 10px;
    
}

.become{
    padding-top: 10px; 
    padding-bottom: 10px;
}
.become i{
    padding-right: 7px;
    
}

.logo2 p{
    padding-bottom: 10px;
}


